<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibraryManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63962/LibraryManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibraryManager"
                contract="WCF_LibraryManager.ILibraryManager" name="BasicHttpBinding_ILibraryManager" />
        </client>
    </system.serviceModel>
</configuration>